# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### General ###
__pycache__/

### Mysql ###
mysql_db.json

node_modules/
